@{
    ViewBag.Title = "Home";
}

<h2>@ViewBag.Title</h2>
<form method="post" asp-controller="Account" asp-action="Logout">
    <div>
        <button type="submit" class="btn btn-danger">Logout</button>
    </div>
</form>

<h3>Add Table here</h3>
@* todo: add table *@
